// Colors.
$white: #fff;
$grey: #EDEDEE;
$dark_grey: #ccc;
$darker_grey: #a6a6a6;
$light_grey: #F0F0F5;
$blue: #08c;
$pink: #F72F72;
$black: #000;
$text_color: #5E6465;


// Fonts.
$font-family: Roboto, Comfortaa, 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
//$font-family: Comfortaa, 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Sizes.
$image_width: 336px;
$image_height: 280px;
$menu_bar_height: 45px;
$logo_width: 300px;
$logo_height: 80px;
$logo_mobile_width: 90px;
$logo_mobile_height: 50px;

// Mobile sizes.
$image_mobile_width: 300px;
$image_mobile_height: 250px;

@mixin make-transform($property) {
  -webkit-transition: $property 0.3s ease-in-out;
  -moz-transition: $property 0.3s ease-in-out;
  -ms-transition: $property 0.3s ease-in-out;
  -o-transition: $property 0.3s ease-in-out;
  transition: $property 0.3s ease-in-out;
}

@mixin make-transform-double($property_1, $property_2) {
  -webkit-transition: $property_1 0.3s ease-in-out, $property_2 0.3s ease-in-out!important;
  -moz-transition: $property_1 0.3s ease-in-out, $property_2 0.3s ease-in-out!important;
  -ms-transition: $property_1 0.3s ease-in-out, $property_2 0.3s ease-in-out!important;
  -o-transition: $property_1 0.3s ease-in-out, $property_2 0.3s ease-in-out!important;
  transition: $property_1 0.3s ease-in-out, $property_2 0.3s ease-in-out!important;
}

@mixin rounded-corners($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

@mixin transparent($transparent) {
  zoom: 1;
  filter: alpha(opacity = $transparent*100);
  opacity: $transparent;
}