/*Main CSS*/

@import 'variables-functions';

/*Party List*/
.party-list {
  .view-content {
    //display: inline-block;
    .party-list-item {
      width: 310px;
      margin: 0;
      padding: 0;
      display: inline-block;
      background-color: $light_grey;
      //padding: 5px;
      margin: 2px 0;
      .party-list-photo {
        a {
          display: block;
          overflow: hidden;
          width: 100%;
          height: 200px;
          &.no-image {
            display: block;
            background: url("../../images/gift.png") no-repeat;
            background-size: 50px 50px;
            background-position: center;
          }
          img {
            min-width: 100%;
            min-height: 100%;
            max-width: 180%;
            max-height: 150%;
          }
        }
      }
      .party-list-title {
        padding: 5px;
        text-align: center;
      }
      .party-list-members {
        padding: 5px;
        float: left;
        .party-list-members-label {
          background: url("../../images/member.png") no-repeat;
          background-size: 15px 15px;
          width: 15px;
          height: 15px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
        }
        .party-list-members-value {
          line-height: 15px;
          height: 15px;
          font-size: 18px;
          display: inline-block;
        }

      }
      .party-list-date {
        padding: 5px;
        float: left;
      }
      .party-list-status {
        padding: 5px;
        float: right;
      }
    }
  }
}

/*Add members*/
.page-gift-exchange-my-parties-add-members {
  .members-container {
    .member-container {
      width: 100%;
      text-align: left;
      .form-item {
        width: 47%;
        display: inline-block;
        padding: 1%;
        input {
          max-width: 100%;
        }
      }
    }
    .even {
      background-color: $light_grey;
    }
  }
  .actions {
    margin: 5px 0 0 0;
  }
  .back-wrapper {
    margin: 5px 0 0 0;
  }
}

/*Add exceptions*/
.page-gift-exchange-my-parties-add-exceptions {
  .exceptions-container {
    .exception-container {
      width: 100%;
      text-align: left;
      .form-item {
        width: 47%;
        display: inline-block;
        padding: 1%;
        position: relative;
        input {
          max-width: 100%;
        }
      }
    }
    .even {
      background-color: $light_grey;
    }
  }
  .actions {
    margin: 5px 0 0 0;
  }
  .back-wrapper {
    margin: 5px 0 0 0;
  }
}

/*Actions*/
.actions-container {
  min-height: 40px;
  .action {
    float: left;
    display: inline-block;
    margin-right: 10px;
  }
}
