/*Responsive CSS*/

@import 'variables-functions';

/*Tablet*/
@media all and (min-width: 321px) and (max-width: 768px) {
  /*Party List*/
  .party-list {
    .view-content {
      .views-row {
        .party-list-photo {

        }
        .party-list-title {

        }
        .party-list-members {

        }
        .party-list-date {

        }
        .party-list-status {

        }
      }
    }
  }

  /*Add members*/
  .page-gift-exchange-my-parties-add-members {
    .members-container {
      .member-container {
        .form-item {
          width: 99%;
        }
      }
    }
  }
  /*Add Exceptions*/
  .page-gift-exchange-my-parties-add-exceptions {
    .exceptions-container {
      .exception-container {
        .form-item {
          width: 99%;
        }
      }
    }
  }
}

/*Phone*/
@media all and (max-width: 320px) {
   /*Party List*/
  .party-list {
    .view-content {
      .views-row {
        .party-list-photo {

        }
        .party-list-title {

        }
        .party-list-members {

        }
        .party-list-date {

        }
        .party-list-status {

        }
      }
    }
  }

  /*Add members*/
  .page-gift-exchange-my-parties-add-members {
    .members-container {
      .member-container {
        .form-item {
          width: 99%;
        }
      }
    }
  }
  /*Add Exceptions*/
  .page-gift-exchange-my-parties-add-exceptions {
    .exceptions-container {
      .exception-container {
        .form-item {
          width: 99%;
        }
      }
    }
  }
}

/*Very large screens*/
@media all and (min-width: 1920px) {
   /*Party List*/
  .party-list {
    .view-content {
      .views-row {
        .party-list-photo {

        }
        .party-list-title {

        }
        .party-list-members {

        }
        .party-list-date {

        }
        .party-list-status {

        }
      }
    }
  }
}
