/*Main CSS*/
/*Party List*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\000039}}
.party-list .view-content .party-list-item {
  width: 310px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #F0F0F5;
  margin: 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000318}}
.party-list .view-content .party-list-item .party-list-photo a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000323}}
.party-list .view-content .party-list-item .party-list-photo a.no-image {
  display: block;
  background: url("../../images/gift.png") no-repeat;
  background-size: 50px 50px;
  background-position: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000329}}
.party-list .view-content .party-list-item .party-list-photo a img {
  min-width: 100%;
  min-height: 100%;
  max-width: 180%;
  max-height: 150%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000337}}
.party-list .view-content .party-list-item .party-list-title {
  padding: 5px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000341}}
.party-list .view-content .party-list-item .party-list-members {
  padding: 5px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000344}}
.party-list .view-content .party-list-item .party-list-members .party-list-members-label {
  background: url("../../images/member.png") no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000354}}
.party-list .view-content .party-list-item .party-list-members .party-list-members-value {
  line-height: 15px;
  height: 15px;
  font-size: 18px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000362}}
.party-list .view-content .party-list-item .party-list-date {
  padding: 5px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000366}}
.party-list .view-content .party-list-item .party-list-status {
  padding: 5px;
  float: right;
}

/*Add members*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000377}}
.page-gift-exchange-my-parties-add-members .members-container .member-container {
  width: 100%;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000380}}
.page-gift-exchange-my-parties-add-members .members-container .member-container .form-item {
  width: 47%;
  display: inline-block;
  padding: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000384}}
.page-gift-exchange-my-parties-add-members .members-container .member-container .form-item input {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000389}}
.page-gift-exchange-my-parties-add-members .members-container .even {
  background-color: #F0F0F5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000393}}
.page-gift-exchange-my-parties-add-members .actions {
  margin: 5px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\0000396}}
.page-gift-exchange-my-parties-add-members .back-wrapper {
  margin: 5px 0 0 0;
}

/*Add exceptions*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003104}}
.page-gift-exchange-my-parties-add-exceptions .exceptions-container .exception-container {
  width: 100%;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003107}}
.page-gift-exchange-my-parties-add-exceptions .exceptions-container .exception-container .form-item {
  width: 47%;
  display: inline-block;
  padding: 1%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003112}}
.page-gift-exchange-my-parties-add-exceptions .exceptions-container .exception-container .form-item input {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003117}}
.page-gift-exchange-my-parties-add-exceptions .exceptions-container .even {
  background-color: #F0F0F5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003121}}
.page-gift-exchange-my-parties-add-exceptions .actions {
  margin: 5px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003124}}
.page-gift-exchange-my-parties-add-exceptions .back-wrapper {
  margin: 5px 0 0 0;
}

/*Actions*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003130}}
.actions-container {
  min-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cabox\/workspace\/drupal\/drupal7\/sites\/all\/modules\/contrib\/gift_exchange\/css\/sass\/gift_exchange\.scss}line{font-family:\00003132}}
.actions-container .action {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
