/*Responsive CSS*/
/*Tablet*/
@media all and (min-width: 321px) and (max-width: 768px) {
  /*Party List*/
  /*Add members*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thanos\/Documents\/Development\/Projects\/www\/gift_exchange\/sites\/all\/modules\/custom\/gift_exchange\/css\/sass\/gift_exchange\.responsive\.scss}line{font-family:\0000334}}
  .page-gift-exchange-my-parties-add-members .members-container .member-container .form-item {
    width: 99%;
  }

  /*Add Exceptions*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thanos\/Documents\/Development\/Projects\/www\/gift_exchange\/sites\/all\/modules\/custom\/gift_exchange\/css\/sass\/gift_exchange\.responsive\.scss}line{font-family:\0000344}}
  .page-gift-exchange-my-parties-add-exceptions .exceptions-container .exception-container .form-item {
    width: 99%;
  }
}
/*Phone*/
@media all and (max-width: 320px) {
  /*Party List*/
  /*Add members*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thanos\/Documents\/Development\/Projects\/www\/gift_exchange\/sites\/all\/modules\/custom\/gift_exchange\/css\/sass\/gift_exchange\.responsive\.scss}line{font-family:\0000381}}
  .page-gift-exchange-my-parties-add-members .members-container .member-container .form-item {
    width: 99%;
  }

  /*Add Exceptions*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thanos\/Documents\/Development\/Projects\/www\/gift_exchange\/sites\/all\/modules\/custom\/gift_exchange\/css\/sass\/gift_exchange\.responsive\.scss}line{font-family:\0000391}}
  .page-gift-exchange-my-parties-add-exceptions .exceptions-container .exception-container .form-item {
    width: 99%;
  }
}
/*Very large screens*/
@media all and (min-width: 1920px) {
  /*Party List*/
}
